
body{
    background: #122B7E;
    color: white;
}

@media (max-width:400px){
    #tablaConcentradores {
      font-size: 10px !important;
    }
    .btnBorrar .btnMasInfo{
        font-size: 8px !important;
        font-weight: bolder;
    }
    
  }

.contenedorTabla{
    background: #132252;
    box-shadow: 0 8px 8px 0 rgba(179, 179, 179, 0.363);
}

.ajs-dialog{
	background: #ffffff !important;
    color: black;
  /*verde para el body*/
}
.ajs-header{
	background: #a8a8a8 !important;
    font-weight: bold !important;
  /*azul para el header*/
}
.ajs-footer{
	background: #afafaf !important;
  /*rojo para el footer*/
}

#infoGuardar{
    margin-left: 20px;
}

.valorIP:link{
  color:#00a2ff;
}

.valorIP:hover{
  color:#7bcfff;
}

.modal{
  color: black;
}

.col-form-label{
  font-weight: bolder;
}