
body{
    background: #122B7E;
    color: white;
}

@media (max-width:400px){
    #tablaConcentradores {
      font-size: 10px !important;
    }
    .btnBorrar .btnMasInfo{
        font-size: 8px !important;
        font-weight: bolder;
    }

    .infoTabla{
      font-size: 12px !important;
    }
    
  }

.contenedorTabla{
    background: #132252;
    box-shadow: 0 8px 8px 0 rgba(179, 179, 179, 0.363);
}

.ajs-dialog{
	background: #ffffff !important;
    color: black;
  /*verde para el body*/
}
.ajs-header{
	background: #a8a8a8 !important;
    font-weight: bold !important;
  /*azul para el header*/
}
.ajs-footer{
	background: #afafaf !important;
  /*rojo para el footer*/
}

#infoGuardar{
    margin-left: 20px;
}

.valorIP:link{
  color:#00a2ff;
}

.valorIP:hover{
  color:#7bcfff;
}

.modal{
  color: black;
}

.col-form-label, .col-form-labelObser{
  font-weight: bolder;
}

.modal-header{
  background: #00a2ff;
}

.modal-body{
  background: #122B7E;
}

.modal-footer-mod{
  background: #00a2ff;
}

.modal-content{
  color: white;
}

/*otorga el color de fondo y el sombreado cuando el foco está en las cajas de texto*/
.form-control:focus {
  background: #b3e3ff;
  border-color: #00f7ff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 255, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 225, 255, 0.6);
}

#btnCerrarSesion{
  font-size: 14px;
  color:rgb(255, 98, 98);
  cursor: pointer;
}

#btnCerrarSesion:hover{
  color:rgb(255, 0, 0);
}

.accordion-button{
  background-color: #233f99 !important;
  color: #6fb9ff !important;
  font-weight: bolder;
}

.accordion-button.collapsed{
  background-color: #233f99 !important;
  color: #ffffff !important;
  border-radius: 0px !important;
}

.accordion-body{
  background-color: #132252 !important;
  color: #ffffff;

}

.accordion{
  --bs-accordion-border-width: 0px;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.page-item{
  cursor: pointer;
}

.input-group-text{
  background: #122B7E;
  color: white;
  border: 0px;
}

.inputMod{
  margin-left: 10px !important;
}

.inputModVisible{
  display: block !important;
}

.spanModHide{
  display: none !important;
}